@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@100..900&family=Tiro+Bangla:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Noto+Sans+Bengali:wght@100..900&family=Tiro+Bangla:ital@0;1&display=swap');

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

divside.flex.flex-col.w-44.h-screen.left-10.hidden.md\:block.overflow-y-auto.bg-white.dark\:bg-gray-900 {
  margin-left: 2rem;
}

span.ml-2.widthHeading {
  width: 100px;
  display: inline-block;
}

.piHeading {
  color: #0F1141
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
  }

  footer {
    position: fixed;
    bottom: -5px;
  }


}

@page {
  size: 210mm 297mm;

}

.backgroundWaterMark {
  /* background-image: url('./Assets/backgroundImg.png'); */
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.calibri {
  font-family: "Calibri", Helvetica, sans-serif;
}

.timesNewRoman {
  font-family: 'Times New Roman', Times, serif;
}

.bg-wholebg {
  background-color: #F3F6F9;
}

.bg-wholebg {
  background-color: #F3F6F9;
}

.b_b {
  border: 1px solid black;
}

@media (min-width: 992px) {
  .rotate-lg-6 {
    transform: rotate(6deg);
  }
}

.underLineOffset {
  text-decoration-color: #000;
  text-underline-offset: 5px;
}

/* Hero Section */
.back {
  background:linear-gradient(307deg, rgba(50,220,241,1) 0%, rgba(42,207,240,1) 22%, rgba(20,165,215,1) 41%, rgba(18,164,224,1) 60%, rgba(10,157,219,1) 72%, rgba(29,173,235,1) 79%, rgba(15,162,235,1) 100%, rgba(9,149,218,1) 100%, rgba(30,167,233,1) 100%);;
}


.nav-back {
  background:linear-gradient(307deg, rgba(50,220,241,1) 0%, rgba(42,207,240,1) 22%, rgba(20,165,215,1) 41%, rgba(18,164,224,1) 60%, rgba(10,157,219,1) 72%, rgba(29,173,235,1) 79%, rgba(15,162,235,1) 100%, rgba(9,149,218,1) 100%, rgba(30,167,233,1) 100%);;
}

.hero-detail {
  color: #293027;
  font-style: oblique;
  font-family: "Jaro", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  font-variant: revert-layer;

}

.fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.blob-animate {
  width: 100px;
	height: 100px;
	animation: rotate 2s ease-in-out 2s 2 normal;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}


.area{

 
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}

.slideOutLeft {
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes slideOutLeft {
  0% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  100% {
  visibility: hidden;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  }
  }
  @keyframes slideOutLeft {
  0% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  100% {
  visibility: hidden;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  }
  } 
  .slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes slideInUp {
    0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    }
    }
    @keyframes slideInUp {
    0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    }
    } 

    .fadeInRight {
      -webkit-animation-name: fadeInRight;
      animation-name: fadeInRight;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      }
      @-webkit-keyframes fadeInRight {
      0% {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
      }
      100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
      }
      }
      @keyframes fadeInRight {
      0% {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
      }
      100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
      }
      } 